body{
    margin: 0;
    padding: 0;
    background-color:rgba(11, 37, 63);
}

h1 {
    color: white;
    font-size: 40px;
    text-align: center;
    margin-top: 80px; /* Espace depuis le header */
    margin-bottom: 20px;
    font-weight: bold;
    max-width: 900px; /* Limite la largeur pour une meilleure lisibilité */
    margin-left: auto;
    margin-right: auto;
    line-height: 1.2;
    z-index: -1;
}

p{
    color: white;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 40px;
    font-weight: 300; /* Police plus légère pour contraster avec le titre principal */
    max-width: 800px;
    margin-left: 20px;
    margin-right: auto;
}

.slider-container {
    display: block;
    color: white;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 40px;
    font-weight: 300; 
    max-width: 800px;
    margin-left: 20px;
    margin-right: auto;
}

.slider-container label{
    display: block;
    margin-bottom: 10px;
}

input[type="range"] {
    display: block; /* ← Ajoutez ceci */
    width: 100%;
    height: 8px;
    border-radius: 5px;
    outline: none;
    margin-bottom: 10px; /* Espace entre le slider et la valeur */
}

.slider-labels {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #999;
    margin-bottom: 10px;
}

.min-label {
    text-align: left;
}

.max-label {
    text-align: right;
}